<!DOCTYPE html>
<html>
<head>
	<title></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css"/>
      <link rel="stylesheet" type="text/css" href="/app.css">
   <script
	  src="https://code.jquery.com/jquery-3.1.1.js"
	  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
	  crossorigin="anonymous"></script>
	  <script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
	  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>


          
</head>
	 
<body>
<div class="ui large top fixed menu transition visible">
	<div class="ui container">
	  <div class="header item">
	    <i class="code icon"></i>Drag&Drop
	  </div>
	  <a href = "/" class="item">
	    Home
	  </a>
	  <a href = "/users" class="item">
	    Users
	  </a>
	  
	  </div>
</div>

